.homepage {
  padding: 50px 80px 60px;
  margin: 0;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #f3f2ef;
  font-family: "Nunito", sans-serif;
  min-height: 60vh;
}
.div1 {
  margin: 0;
  padding: 10px;
}
.per,
.link {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid #c7c7c7;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 10px rgb(248, 248, 248);
}
.div1 .link {
  display: none;
}
.per {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 200px;
  max-width: 240px;
  height: 320px;
  position: relative;
}

.back {
  height: 60px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.315),
      rgba(255, 255, 255, 0.521)
    ),
    url("../Images/back.jpg");
  background-position: center;
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  margin-bottom: 40px;
}
.img {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  margin: auto;
  width: 80px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.personal {
  padding: 10px;
}

.small {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.nameroll {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 5px;
}
.link2 .link {
  padding: 1px;
  margin-top: 15px;
  background-color: #686868;
}

.link {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 200px;
  max-width: 250px;
  padding: 10px;
  padding-top: 0;
  height: 150px;
  margin-top: 10px;
}

.links {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: 15px;
}

.link ul {
  list-style-type: none;
  padding: 5px;
}

.link ul li a {
  display: block;
  text-decoration: none;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: black;
}

.link ul li a:hover {
  text-decoration: underline;
}

.adddiv {
  margin: 0;
  padding: 10px;
  flex: 50%;
  width: 50%;
  flex-shrink: 1;
}

.addsec {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(199, 199, 199);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 10px rgb(248, 248, 248);
  padding: 10px;
  padding-bottom: 0;
  min-height: 30vh;
}

.header {
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(155, 155, 155);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: rgb(58, 58, 58);
  padding: 5px 0;
  margin: 0;
}
.recent {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 15px 10px;
  border-bottom: 1px solid rgb(226, 226, 226);
}
.rec2 {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: wrap;
}
.order,
.date {
  font-size: 12px;
  letter-spacing: 0;
  color: rgb(77, 77, 77);
}

.date {
  flex: 100%;
  text-align: right;
  margin-right: 0;
}

.name {
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 500;
}

.view,
.view:visited,
.previewo {
  padding: 5px 10px;
  font-family: "Nunito", sans-serif;

  letter-spacing: 0.5px;
  font-weight: 600;
  cursor: pointer;
  color: #1c68db;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #1c68db;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  text-decoration: none;
  font-size: 14px;
}
/* .previewo 
{
  display: none;
} */
.view:hover,
.view:active,
.previewo:hover {
  background-color: #4986e2;
  color: white;
}

.previewo {
  font-size: 13px;
  padding: 3px 10px;
  background-color: rgb(170, 170, 170);
  color: white;
  border-color: rgb(163, 163, 163);
}

.previewo:hover {
  background-color: rgb(221, 221, 221);
  color: #686868;
  border-color: rgb(0, 0, 0);
}
.date {
  margin: 10px;
  margin-top: 0;
  margin-right: 0;
}

.order {
  margin-bottom: 5px;
}

.vedio {
  height: 150px;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-top: 0;
}
@media all and (max-width: 1200px) {
  .div3 .link {
    display: none;
  }

  .div1 .link {
    display: block;
  }
}

@media all and (max-width: 900px) {
  .homepage {
    padding: 40px 30px;
  }
}

@media all and (max-width: 700px) {
  .homepage {
    flex-wrap: wrap;
  }
  .div1 {
    flex: 100%;
    width: 100%;
  }
  .per {
    max-width: none;
    min-width: none;
    max-width: none;
    flex: 100%;
    flex-grow: 1;
    height: 300px;
  }
  .div3 {
    flex-grow: 1;
    flex: 100%;
    width: 100%;
    padding: 10px;
  }
  .div3 .link {
    display: block;
    max-width: none;
    min-width: none;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .div1 .link {
    display: none;
  }

  .adddiv {
    flex: 100%;
    flex-shrink: 1;
  }

  .link2 .link,
  .vedio {
    height: 330px;
  }
}
@media all and (max-width: 650px) {
  .per {
    height: 300px;
  }
}

@media all and (max-width: 550px) {
  .homepage {
    padding: 40px 10px;
  }
  .per {
    height: 330px;
  }
}

@media all and (max-width: 500px) {
  .homepage {
    padding: 30px 0;
  }

  .div3 {
    padding-top: 0;
  }
  .per {
    height: 350px;
  }

  .link2 .link,
  .vedio {
    height: 250px;
  }
}
