.form {
  box-sizing: border-box;
  border: 0.5px solid rgb(202, 202, 202);
  width: 100%;
  font-family: "Cambay", sans-serif;
  padding: 30px 20px;
  font-size: 16px;
  z-index: -2;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.h1 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.h1:after {
  display: block;
  content: " ";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  background-color: rgb(87, 87, 87);
  width: 240px;
  bottom: -5px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.h2 {
  font-size: 18px;
  font-family: "Cambay", sans-serif;
  font-weight: 400;
  flex: 100%;
  position: relative;
}

.line {
  width: 80%;
  margin: auto;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding-top: 10px;
}
.one {
  width: 80%;
  margin: 15px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 80px;
}

.one span {
  width: 100%;
  padding: 3px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.iiit {
  width: 30%;
  padding: 6.5px;
  font-size: 18px;
  color: black;
  font-weight: 400;
  border-bottom: 1px solid grey;
  text-align: center;
  line-height: 1;
}
.namei {
  background-color: transparent;
  left: 32%;
  width: 68%;
  padding: 6.8px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgb(73, 73, 73);
  outline: none;
}

.namei:focus {
  border-bottom: 2px solid grey;
  padding-bottom: 5.8px;
  outline: none;
}
.namei::placeholder {
  font-size: 14px;
  color: rgb(155, 155, 155);
}
.hundred {
  width: 100%;
  padding: 7px;
  font-size: 16px;
  letter-spacing: 1px;
}
.hundred::placeholder {
  font-size: 14px;
  letter-spacing: 1px;
}
.drag {
  height: 20vh;
  width: 100%;
  font-size: 16px;
  border: 1px solid black;
  background-color: rgb(238, 238, 238);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  min-height: 200px;
}

input[type="file"]::file-selector-button {
  border: 1px solid #1870c2;
  color: #1870c2;
  padding: 0.2em 0.4em;
  border-radius: 6px;
  margin: 5px;
  padding: 5px 25px;
  cursor: pointer;
  background-color: white;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

input[type="file"]::file-selector-button:hover {
  background-color: #58a7f0;
  color: white;
  border: 1px solid #58a7f0;
}

.drag::after {
  content: "Drag-and-Drop here";
  position: relative;
  margin: auto;
  border-top: 1px solid rgb(110, 110, 110);
  display: block;
  text-align: center;
  padding-top: 8%;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.add {
  border: 1px solid black;
  width: 100%;
  margin-top: 20px;
}
.flexadd {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;
}
.addons,
.added {
  padding: 5px;
  border: 1px solid rgb(168, 168, 168);
  background-color: rgb(231, 231, 231);
  margin: 5px;
  cursor: pointer;
  width: 120px;
}
.checkbox,
.radio {
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 4px;
}
.added {
  background-color: rgb(169, 241, 169);
  border: 1px solid rgb(70, 206, 70);
}

.button {
  width: 80%;
  margin: 25px 10% 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #73d470;
  color: white;
  border: 1px solid #047016;
  outline: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: all ease 0.3s;
}
.button:hover {
  background-color: #5fa55c;
  color: white;
  border: 1px solid #02310a;
}
li {
  list-style-type: none;
}

.tagsel {
  width: 100%;
  margin: 30px auto 0;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  padding: 10px;
  border: 0.5px solid #a7a7a7;
  background-color: #f3f3f3;
  min-height: 70px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.tagsselli {
  margin: 10px;
  background-color: rgb(255, 255, 255);
  flex: 15%;
  border: 0.5px solid #a8a8a8;
  flex-grow: 0;
  text-align: center;
  position: relative;
  padding: 0 10px;
  border-radius: 6px;
}

.cross {
  position: absolute;
  left: 85%;
  top: -10px;
  cursor: pointer;
  font-size: 20px;
  text-align: right;
  color: rgb(224, 28, 28);
  font-weight: 600;
}

.err {
  color: rgb(212, 55, 55);
  position: absolute;
  bottom: -20px;
}

.btn {
  font-size: 14px;
  border: 1px solid #1870c2;
  color: #1870c2;
  letter-spacing: 1px;
  padding: 0.2em 0.4em;
  border-radius: 6px;
  padding: 6px 20px;
  cursor: pointer;
  background-color: white;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  font-size: 400;
}

.btn:hover {
  background-color: #5da4e7;
  color: white;
}

.hundred1 {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sel {
  width: 90%;
  margin: auto;
  flex: 90%;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid black;
  outline: none;
  margin-top: 10px;
}

.sel:hover {
  border-color: #1870c2;
}

.inp {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid black;
}

.inp:focus {
  outline: none;
  border-bottom: 2px solid rgb(104, 103, 103);
  padding-bottom: 4px;
}

@media all and (max-width: 750px) {
  .one {
    width: 95%;
    margin: 15px 2.5%;
  }

  .line {
    width: 95%;
    margin: 0 2.5%;
  }
  .button {
    width: 95%;
    margin: 20px 2.5% 10px;
  }
}
