.new {
  padding: 50px 80px 60px;
  margin: 0;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #f3f2ef;
  width: 100%;
}

.per,
.add,
.link {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid #c7c7c7;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 0 0 10px rgb(248, 248, 248);
}
.add {
background-color: transparent;
border: none;
  margin: 10px;
  max-width: 1100px;
  flex: 95%;
  box-shadow: none;
}
.per {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 200px;
  max-width: 250px;
  margin: 10px;
  height: 320px;
  position: relative;
}

.back {
  height: 60px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.24),
      rgba(255, 255, 255, 0.281)
    ),
    url("../Images/back.jpg");
  background-position: center;
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  margin-bottom: 40px;
}
.img {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.personal {
  padding: 10px;
}

.small {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.nameroll {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 5px;
}

.link {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 200px;
  max-width: 250px;
  margin: 10px;
  padding: 10px;
  height: 150px;
}

.links {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.link ul {
  list-style-type: none;
  padding: 5px;
}

.link ul li a {
  display: block;
  text-decoration: none;
  margin: 5px 0;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.25px;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: black;
}

.link ul li a:hover {
  text-decoration: underline;
}
.div3{
  display: none;
}
@media all and (max-width: 1440px) {
  .div3{
    display: block;
  }
  .new {
    margin: 0px;
    width: auto;
    padding: 50px 20px 30px;

  }
 .add{
  max-width: none;

 }
  .div1 {
    /* display: none; */
  }
  .homepage {
    flex-wrap: wrap;
  }
  .div1,.div3 {
    flex: 50%;
    width: 50%;
    flex-grow: 0;
  }
  .per {
    max-width: none;
    min-width: none;
    max-width: none;
    flex: 100%;
    flex-grow: 1;
    height: 250px;
  }
  .div3 {
    flex-grow: 1;
   
  }
  .div3 .link {
    display: block;
    max-width: none;
    min-width: none;
    flex-shrink: 1;
    height: 230px;

  }

  .div1 .link {
    display: none;
  }

  .adddiv {
    flex: 100%;
    flex-shrink: 1;
  }

  .link2 .link,
  .vedio {
    height: 330px;
  }
}

@media all and (max-width: 1100px) {
  .new {
    margin: 0px;
    padding: 50px 5px 30px;

  }

  .div3{
    display: block;
  }
  .new {
    margin: 0px;
    width: auto;
    padding: 50px 20px 30px;

  }
 .add{
  max-width: none;

 }
  .div1 {
    /* display: none; */
  }
  .homepage {
    flex-wrap: wrap;
  }
  .div1,.div3 {
    flex: 50%;
    width: 50%;
    flex-grow: 0;
  }
  .per {
    max-width: none;
    min-width: none;
    max-width: none;
    flex: 100%;
    flex-grow: 1;
    height: 280px;
  }
  .div3 {
    flex-grow: 1;
   
  }
  .div3 .link {
    display: block;
    max-width: none;
    min-width: none;
    flex-shrink: 1;
height: auto;
  }

  .div1 .link {
    display: none;
  }

  .adddiv {
    flex: 100%;
    flex-shrink: 1;
  }

 

}

@media all and (max-width: 700px) {
  .new {
    margin: 0px;
    padding: 50px 0px 30px;

  }

 .add{
  max-width: none;

 }
  .div1 {
    /* display: none; */
  }
  .homepage {
    flex-wrap: wrap;
  }
  .div1,.div3 {
    flex: 100%;
    width: 100%;
    flex-grow: 1;
  }
  .per {
    max-width: none;
    min-width: none;
    max-width: none;
    flex: 100%;
    flex-grow: 1;
    height: 250px;
  }
  .div3 {
    flex-grow: 1;
   
  }
  .div3 .link {
    display: block;
    max-width: none;
    min-width: none;
    flex-grow: 1;
    flex-shrink: 1;
height: auto;
  }

  .div1 .link {
    display: none;
  }

  .adddiv {
    flex: 100%;
    flex-shrink: 1;
  }

}
