.page {
  padding: 50px 80px 60px;
  margin: 0;
  min-height: 50vh;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
  background-color: #f3f2ef;
}
.search,
.search2,
.search2o {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(175, 174, 174);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: 0 0 10px rgb(248, 248, 248);
  padding: 0px 10px 20px;
  min-height: 30vh;
}

.search2o {
  width: 50%;
}
.search {
  background-color: white;
  min-height: auto;
  padding: 20px 10px 10px;
  margin-bottom: 20px;
}
.select {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 15px;
  margin: 0 auto;
}

.sel {
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 6px;
  outline: none;
  font-size: 17px;
  min-width: 250px;
  border-color: rgb(70, 70, 70);
  letter-spacing: 0.5px;
  font-weight: 300;
}
.sel:hover {
  outline: 3px solid #acd6f8;
  border-color: #8d8d8d;
}
.h2 {
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  position: relative;
  margin: 20px 0;
  width: 50%;
  margin-right: 50%;
}

.h2::after {
  display: block;
  content: " ";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  background-color: rgb(139, 139, 139);
  width: 260px;
  bottom: -5px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.h1 {
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  position: relative;
  margin: 20px 0;
}
.h1:after {
  display: block;
  content: " ";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  background-color: rgb(167, 167, 167);
  width: 260px;
  bottom: -5px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.big {
  font-size: 20px;
  font-weight: 600;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.flex2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.flex .box {
  width: 47%;
  flex: 47%;
  border: 1px solid rgb(189, 186, 186);
  margin: 20px 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 0;
  min-width: 500px;
  background-color: white;

  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.flex2 .box {
  border-radius: 6px;

  width: 47%;
  flex: 47%;
  border: 1px solid rgb(189, 186, 186);
  margin: 20px 40% 20px 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 0;
  min-width: 500px;
  background-color: white;
}

/* .box2 {
  width: 470%;
  flex: 47%;
  border: 1px solid black;
  margin: 20px 40% 10px 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
} */
.img {
  float: left;
  height: 110px;
  width: 110px;
  overflow: hidden;
  margin: 15px;
  min-width: 110px;
  flex: 110px;
  flex-shrink: 0;
  flex-grow: 0;
}
.inner {
  margin: 10px;
}

.title {
  text-align: center;
  margin: 10px 0;
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 300;
}
.link {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  background-color: rgb(216, 216, 216);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  text-align: center;
  margin: 15px;
  border: 0.5px solid rgb(201, 201, 201);
  font-size: 16px;
  min-width: 120px;
}
.link:hover {
  background-color: rgb(199, 198, 198);
  border: 0.5px solid rgb(163, 163, 163);
}
.addons {
  display: block;
  padding-right: 10px;
}

.date {
  font-weight: 300;
  text-align: right;
}

.previewMain,
.hid {
  align-items: center;
  position: fixed;
  top: 10vh;
  right: 0;
  width: 50%;
  height: 90vh;
  background-color: rgb(32, 32, 32);
}
.previewMain {
  animation-name: slideopen;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.hid {
  width: 10px;
}
.close {
  height: 90vh;
  position: relative;
}

.arrow {
  position: absolute;
  margin: 0 3%;
  bottom: 40px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.hid .arr {
  display: none;
}
.arr {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid black;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  background-color: #c6dcee;
  border: 2px solid transparent;
}

.arr:hover {
  box-shadow: 0 0 20px #c6dcee;
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  color: white;
  background-color: rgb(32, 32, 32);
  border: 2px solid white;
}
.closebut,
.closebut2 {
  position: fixed;
  right: calc(50% - 20px);
  top: 55%;
  z-index: 10;
  height: 40px;
  width: 40px;
  background-color: rgb(32, 32, 32);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

.icon {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 10px;
}
.closebut {
  animation-name: slidebuto;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}
.closebut2 {
  right: -10px;
}
.preview {
  width: calc(100% - 10px);
  height: 100%;
  align-items: center;
  margin: 0 10px 10px;
  overflow: scroll;
}
@keyframes slideopen {
  0% {
    width: 10px;
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: hidden;
    width: 50%;
  }
}

@keyframes slideopen2 {
  0% {
    width: 10px;
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: hidden;
    width: 95%;
  }
}

@keyframes slidebuto {
  0% {
    right: -10px;
  }

  100% {
    right: calc(50% - 20px);
  }
}

@keyframes slidebutc {
  0% {
    right: -10px;
  }

  100% {
    right: calc(50% - 20px);
  }
}

@keyframes slidebuto2 {
  0% {
    right: -10px;
  }

  100% {
    right: calc(95% - 20px);
  }
}

@keyframes slidebutc2 {
  0% {
    right: -10px;
  }

  100% {
    right: calc(95% - 20px);
  }
}

@media all and (max-width: 1300px) {
  .link {
    display: block;
    width: 80%;
    margin: 10px auto;
    min-width: 220px;
  }
  .flex .box,
  .flex2 .box {
    min-width: 200px;
  }
  .flex {
    justify-content: space-between;
  }
}

@media all and (max-width: 1150px) {
  .link {
    display: inline-block;
    width: 40%;
    margin: 10px 5%;
    padding: 5px 10px;
    min-width: 150px;
    max-width: none;
  }
  .inner {
    flex-grow: 1;
  }
  .flex .box,
  .flex2 .box {
    min-width: 200px;
    flex: 80%;
    width: 80%;
    margin: 10px auto;
    flex-grow: 0;
  }
  .flex {
    justify-content: space-between;
  }

  .img {
    height: 100px;
    width: 80px;
  }

  .previewMain {
    animation-name: slideopen2;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  .closebut {
    animation-name: slidebuto2;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    right: calc(95% - 20px);
  }

  .h2 {
    width: 100%;
  }
}

@media all and (max-width: 1050px) {
  .link {
    display: block;
    width: 80%;
    padding: 6px;
    margin: 15px 10%;
    min-width: 150px;
    max-width: none;
    font-size: 14px;
  }
  .inner {
    flex-grow: 1;
  }
  .flex .box,
  .flex2 .box {
    min-width: 200px;
    flex: 80%;
    width: 80%;
    margin: 10px auto;
    flex-grow: 0;
  }
  .flex {
    justify-content: space-between;
  }

  .img {
    height: 100px;
    width: 80px;
  }
}

@media all and (max-width: 700px) {
  .flex .box,
  .flex2 .box {
    min-width: 200px;
    flex: 90%;
    width: 90%;
    margin: 10px auto;
    flex-grow: 0;
  }
}

@media all and (max-width: 600px) {
  .flex .box,
  .flex2 .box {
    min-width: 200px;
    flex: 95%;
    width: 95%;
    margin: 10px auto;
    flex-grow: 0;
  }
}

@media all and (max-width: 550px) {
  .page {
    margin: 0;
    padding: 40px 10px 20px;
  }
  .hid {
    width: 5px;
  }

  .search,
  .search2 {
    padding: 15px 2px;
  }
  .select {
    width: 90%;
    flex-wrap: wrap;
    justify-content: end;
  }
  .select p {
    margin-right: 5px;
    font-size: 12px;
  }
  .select .big {
    font-size: 16px;
  }
  .sel {
    width: 100%;
    padding: 3px 20px;
  }

  .img {
    height: 100px;
    width: 20px;
    margin: 0;
  }
}
