* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.div0 {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.61)),
    url("../../Images/back.jpg");
  position: relative;
  background-position: top;
  background-size: cover;
}

.upper {
  border: 2px solid rgb(116, 62, 202);
  position: absolute;
  top: 0;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  left: 50%;
  width: 44%;
  background-color: rgb(230, 231, 231);
  transform: translate(-52%, 0);
  -webkit-transform: translate(-52%, 0);
  -moz-transform: translate(-52%, 0);
  -ms-transform: translate(-52%, 0);
  -o-transform: translate(-52%, 0);
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
}
.upper p {
  color: rgb(112, 112, 112);
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 0;
  transform: translateX(-20px);
  padding: 10px;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  -o-transform: translateX(-20px);
}
.upper .logo {
  height: 50px;
  width: 50px;
  margin: 10px 0 0 30px;
  float: left;
}
.div1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45vw;
  height: 42vh;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.div2 {
  background-color: rgb(227, 227, 230);
  height: 40vh;
  width: 60%;
  min-width: 410px;
  display: inline-block;
  margin: 0 5% 0 0;
  position: relative;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  /* border-bottom: 5px solid rgb(116, 62, 202); */
}

.google {
  width: 130%;
  color: rgb(116, 62, 202);
}
.google div {
  margin: 0;
  width: 100%;
  max-width: 400px;
}
.google form {
  max-width: 400px;
}
.google ul {
  margin: 15px 0 5px;
  width: 110%;
  max-width: 420px;
}
.google li {
  margin: 0;
  width: 120%;
  max-width: 420px;
}
.google button {
  border: 0.5px solid rgb(207, 207, 207);
  box-shadow: 1px 1px 0px rgb(228, 228, 228);
  padding: 5px 15px;
  text-align: center;
  margin: 0;
  width: 120%;
  max-width: 400px;
  color: rgb(116, 62, 202);
}
.div4 {
  margin: auto;
  width: 102px;
}
.circle {
  height: 100px;
  width: 100px;

  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  background-color: rgb(233, 233, 233);
  color: rgb(116, 62, 202);
  margin: 20px auto 10px;
  border: 1px solid rgb(116, 62, 202);
}
.div3 {
  background-color: rgb(116, 62, 202);
  width: 30%;
  display: inline-block;
  height: 40vh;
  min-width: 210px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  /* border-bottom: 5px solid white; */
  padding: 15px;
  text-align: center;
}

.txt{
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

.div5 {
  color: rgb(116, 62, 202);
  font-size: 12px;
  width: 300px;
  margin: auto;
  text-align: right;
}

.div5 a:link,
.div5 a:visited {
  color: rgb(116, 62, 202);
  font-size: 14px;
}

.div5 a:hover,
.div5 a:active {
  color: rgb(104, 31, 221);
}

.icon1,
.icon2 {
  height: 45px;
  width: 45px;
  padding: 8px;
  overflow: hidden;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.icon1 {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.icon2 {
  position: absolute;
  right: 20px;
  bottom: 80px;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.visible1 {
  display: inline-block;
  width: 140px;
  transition: all ease-in 0.15s;
  -webkit-transition: all ease-in 0.15s;
  -moz-transition: all ease-in 0.15s;
  -ms-transition: all ease-in 0.15s;
  -o-transition: all ease-in 0.15s;
}
.visible1::after {
  content: "Support";
  float: right;
  padding: 0 10px;
}
.invisible1 {
  display: hidden;
  width: 45px;
  transition: all ease-in 0.15s;
  -webkit-transition: all ease-in 0.15s;
  -moz-transition: all ease-in 0.15s;
  -ms-transition: all ease-in 0.15s;
  -o-transition: all ease-in 0.15s;
}

.visible2 {
  display: inline-block;
  width: 120px;
  transition: all ease-in 0.15s;
  -webkit-transition: all ease-in 0.15s;
  -moz-transition: all ease-in 0.15s;
  -ms-transition: all ease-in 0.15s;
  -o-transition: all ease-in 0.15s;
}
.visible2::after {
  content: "About";
  float: right;
  padding: 0 10px;
}
.invisible2 {
  display: hidden;
  width: 45px;
  transition: all ease-in 0.15s;
  -webkit-transition: all ease-in 0.15s;
  -moz-transition: all ease-in 0.15s;
  -ms-transition: all ease-in 0.15s;
  -o-transition: all ease-in 0.15s;
}

.div3 h1 {
  color: white;
  letter-spacing: 1px;
  font-size: 28px;
  margin: 0 0 0 10px;
}
.div3 {
  position: relative;
}
.div3 .office {
  width: 140px;
  display: inline-block;
  height: 120px;
  margin: 0 35px;
  left: 50%;
}
